%button.navbar-toggle.collapsed{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
  %span.sr-only Toggle navigation
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
