%nav.navbar.navbar-inverse.navbar-static-top{role: 'navigation'}
  .container-fluid
    .navbar-header
      = render 'collapsed_button'
      %a.navbar-brand{href: root_path}
        %i.fa.fa-reddit

    #navbarCollapse.collapse.navbar-collapse
      = render 'navbar_links'
      = render 'login_form'
